.mws-wrapper {
  resize: both;
  overflow: hidden;
  height: 400px;
}

.mws-wrapper * {
  font-family: Terminal, monospace;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  background: -webkit-linear-gradient(left, #808080, #000000);
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  background: -webkit-linear-gradient(left, #C2C2C2, #002640);
  border: 1px solid #333;
  box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.4);
}

.mws-topbar {
  background-color: transparent;
  border-radius: 10px;
  height: 50px;
  color: #00000;
}

.mws-topbar span {
  display: inline-block;
  line-height: 50px;
  font-size: 35px;
  width: 90%;
}

.mws-hide-button {
  display: inline-block;
  background-color: transparent;
  border: none;
  padding: 0;
}

.mws-hide-button:hover {
  text-decoration: underline;
}

.mws-body {
  resize: none;
  border-radius: 10px;
  height: -moz-calc(100% - 50px);
  height: -webkit-calc(100% - 50px);
  height: -o-calc(100% - 50px);
  height: calc(100% - 50px);
}

.mws-body, .mws-body * {
  background-color: #000000;
  color: #00e500;
  font-size: 15px;
}

.mws-body p {
  padding: 0px;
  margin: 0px;
}

.mws-scrollbar-spacer {
  height: 20px;
  border-radius: 10px;
}

.mws-response-list {
  resize: none;
  list-style-type: none;
  /* Firefox */
  height: -moz-calc(100% - 40px);
  /* WebKit */
  height: -webkit-calc(100% - 40px);
  /* Opera */
  height: -o-calc(100% - 40px);
  /* Standard */
  height: calc(100% - 40px);
  padding-left: 20px;
  padding-bottom: 0;
  padding-top: 0;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.mws-response-list li {
  margin-top: 3px;
  margin-bottom: 3px;
}

.mws-form {
  display: inline-block;
  margin-left: 5px;
  width: 95%
}

.mws-input {
  resize: none;
  border: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

.mws-input:focus {
  outline: none;
}
