.mws-wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 510px;
  resize: both;
  overflow: hidden;
}

.mws-wrapper * {
  font-family: Terminal, monospace;
}

.mws-topbar-wrapper {
  resize: none;
  overflow:hidden;
  height: 50px;
}

.mws-topbar {
  background-image: linear-gradient(bottom, rgb(71,71,71) 48%, rgb(133,133,133) 84%);
  background-image: -o-linear-gradient(bottom, rgb(71,71,71) 48%, rgb(133,133,133) 84%);
  background-image: -moz-linear-gradient(bottom, rgb(71,71,71) 48%, rgb(133,133,133) 84%);
  background-image: -webkit-linear-gradient(bottom, rgb(71,71,71) 48%, rgb(133,133,133) 84%);
  background-image: -ms-linear-gradient(bottom, rgb(71,71,71) 48%, rgb(133,133,133) 84%);

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.48, rgb(71,71,71)),
    color-stop(0.84, rgb(133,133,133))
  );
  border-radius: 10px;
  height: 70px;
  margin: 0;
  padding: 0;
  color: #FFFFFF;
}

.mws-topbar span {
  display: inline-block;
  line-height: 50px;
  margin-left: 20px;
  font-size: 35px;
  width: 90%;
}

.mws-hide-button {
  display: inline-block;
  background-color: transparent;
  border: none;
  color: #FFFFFF;
  padding: 0;
}

.mws-hide-button:hover {
  text-decoration: underline;
}

.mws-body {
  resize: none;
  border-radius: 10px;
  height: calc(100% - 55px);
  height: -moz-calc(100% - 55px);
  height: -webkit-calc(100% - 55px);
  height: -o-calc(100% - 55px);
}

.mws-body, .mws-body * {
  background-color: #000000;
  color: #00e500;
  font-size: 20px;
}

.mws-scrollbar-spacer {
  height: 10px;
}

.mws-response-list {
  resize: none;
  list-style-type: none;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 95%;
  padding-left: 20px;
  overflow-y: auto;
}

.mws-response-list li {
  margin-top: 3px;
  margin-bottom: 3px;
}

.mws-form {
  display: inline-block;
  margin-left: 5px;
  width: 95%
}

.mws-input {
  resize: none;
  border: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

.mws-input:focus {
  outline: none;
}
