.mongo-web-shell {
  border-radius: 10px;
  height: 30em;
  padding: 8px 16px;
  font-size: 15px;
  font-family: monospace;
}

.mongo-web-shell p {
  padding: 0;
  margin: 0;
}

.mws-input-div {
  padding-left: 9px;
  vertical-align: top;
  line-height: 29px;
}

.mws-scroll-wrapper {
  overflow: scroll;
  height: inherit;
}

/* Code Mirror overrides */
.CodeMirror {
  height: auto !important;
  display: inline-block;
}

div.CodeMirror-scroll {
  height: auto !important;
  overflow: visible;
}

.cm-s-solarized.CodeMirror {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-image: none;
}

/* Allows removal of highlighting on a line */
.mws-cm-plain-text, .mws-cm-plain-text span {
  color: inherit !important;
}