.mongo-web-shell {
  border-radius: 10px;
  height: 30em;
  padding: 8px 16px;
}

.mongo-web-shell, .mongo-web-shell * {
  background-color: #DADADA;
  color: #252525;
  font-size: 15px;
  font-family: monospace;
}

.mongo-web-shell p {
  padding: 0;
  margin: 0;
}

.mws-response-list {
  height: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  word-wrap: break-word;
}

.mws-response-list li {
  margin: 3px 0;
}

.mws-input-li {
  vertical-align: top;
  line-height: 26px;
}

.mws-plain-result {
  padding-left: 4px;
}

.CodeMirror {
  height: auto !important;
  display: inline-block;
}
