/*TODO: allow chrome users to resize smaller than declared height/width,
Make a more elegant solution to resizing smaller than declared height/width
that doesn't involve scrollbars */
.mws-body {
  border-radius: 10px;
  height: 640px;
  margin-top: 20px;
  margin-bottom: 10px;
  resize: both;
  overflow: hidden;
  background-color: #000000;
}

.mws-body * {
  background-color: #000000;
  color: #00e500;
  font-size: 20px;
  font-family: Terminal, monospace;
}

.mws-response-list {
  resize: none;
  list-style-type: none;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 97%;
  padding-left: 20px;
  overflow-y: auto;
}

.mws-in-shell-response li {
  margin-top: 3px;
  margin-bottom: 3px;
}

.mws-input {
  resize: none;
  width: 98%;
  height: 40px;
  border: none;
}

.mws-input:focus {
  outline: none;
}
