.mongo-web-shell {
  border-radius: 10px;
  height: 30em;
  padding: 8px 16px;
  font-size: 15px;
  font-family: monospace;
}

.mongo-web-shell p {
  padding: 0;
  margin: 0;
}

.mws-responses {
  margin-left: -8px;
}

.mws-input-wrapper {
  /*vertical-align: top;*/
  line-height: 29px;
  position: relative;
}

.mws-input {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 10px;
}

.mws-prompt {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 1px;
}

.mws-scroll-wrapper {
  overflow-y: auto;
  height: inherit;
}

/* Try to make the scrollbar less ugly, at least on IE and WebKit */
.mongo-web-shell ::-webkit-scrollbar {
    width: 7px;
}

.mongo-web-shell ::-webkit-scrollbar-track {
  visibility: hidden;  /* doesn't seem to work */
  background: transparent;
}

.mongo-web-shell ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: rgba(0,0,0,0.5);
}

.mongo-web-shell ::-webkit-scrollbar:window-inactive {
    visibility: hidden;
}

/* Code Mirror overrides */
.mongo-web-shell .CodeMirror {
  height: auto;
}

div.CodeMirror-vscrollbar {
  overflow: visible;
}

.cm-s-solarized.CodeMirror {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-image: none;
}

/* Allows removal of highlighting on a line */
.mws-cm-plain-text, .mws-cm-plain-text span {
  color: inherit !important;
}