[submodule "frontend/lib/falafel"]
	path = frontend/lib/falafel
	url = git://github.com/mcomella/node-falafel.git
[submodule "frontend/lib/esprima"]
	path = frontend/lib/esprima
	url = git://github.com/ariya/esprima
[submodule "frontend/lib/jasmine"]
	path = frontend/lib/jasmine
	url = https://github.com/pivotal/jasmine
[submodule "frontend/lib/noty"]
	path = frontend/lib/noty
	url = git://github.com/needim/noty.git
[submodule "frontend/lib/blockui"]
	path = frontend/lib/blockui
	url = git://github.com/malsup/blockui.git
