[submodule "frontend/lib/falafel"]
	path = frontend/lib/falafel
	url = git://github.com/mcomella/node-falafel.git
[submodule "frontend/lib/esprima"]
	path = frontend/lib/esprima
	url = git://github.com/ariya/esprima
[submodule "frontend/lib/jasmine"]
	path = frontend/lib/jasmine
	url = https://github.com/pivotal/jasmine
[submodule "frontend/lib/noty"]
	path = frontend/lib/noty
	url = git://github.com/needim/noty.git
[submodule "frontend/lib/codemirror"]
	path = frontend/lib/codemirror
	url = https://github.com/marijnh/CodeMirror.git
[submodule "frontend/lib/es5-shim"]
	path = frontend/lib/es5-shim
	url = git://github.com/kriskowal/es5-shim
[submodule "frontend/lib/suspend.js"]
	path = frontend/lib/suspend.js
	url = git://github.com/FuegoFro/suspend.js.git
[submodule "frontend/lib/bootstrap"]
	path = frontend/lib/bootstrap
	url = git@github.com:twbs/bootstrap.git
[submodule "frontend/lib/doctrine"]
	path = frontend/lib/doctrine
	url = git@github.com:Constellation/doctrine.git
