# local settings
.env

# packages
node_modules/
venv/

# build
.grunt/
_SpecRunner.html
*.pyc

# env!
webapps/*/devel
webapps/*/staging
webapps/*/prod


# scripts
webapps/ivs/initializers/scripts
webapps/ivs/verify/scripts

# misc
.DS_Store
