description 'Init and Verification Service'

start on (net-device-up
          and local-filesystems
          and runlevel [2345])

stop on runlevel [06]
respawn

script
  . /opt/mws/venv/bin/activate
  cd /opt/mws/mongo-web-shell
  export DEBUG={{ ivs_debug }}
  export GRADING_SERVER_URL={{ ivs_grading_server_url }}
  export EDX_SHARED_KEY={{ ivs_edx_shared_key }}
  uwsgi --uid {{ uwsgi_uid }} -s /tmp/ivs-uwsgi.sock -w webapps.ivs.app:app --chown-socket '{{ uwsgi_uid }}:www-data' --chmod-socket=660 --processes=4
end script
