<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Tutorial</title>
</head>
<body>
  <h1>Tutorial Sample</h1>
  <p>Some intro text here.</p>
  <div class="mongo-web-shell">Hello</div>
  <div class="mongo-web-shell">Hello</div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/sample/static/lib/esprima/esprima.js"></script>
  <script src="/sample/static/lib/falafel/falafel.browser.js"></script>
  <script src="/sample/static/mongo-web-shell.js" data-css-path="/sample/static/mongo-web-shell.css"></script>
</body>
</html>
