<!DOCTYPE html>
<html>
	<head>
		<title>Mongo Shell</title>
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script type="text/javascript" src="static/esprima.js"></script>
		<script type="text/javascript" src="static/shell.js"></script>
	</head>
	<body>
		<form method="post" action="/shell" id="console">
			Code: <input type="text" name="command" id="command" required/>
			<input type="submit" value="Submit" id="submit"><br/>
			<label id="output"></label>
		</form>
	</body>
</html>
